#login-left-image{
    color:white;
    text-align:center;
    font-size:200%;
    margin-top:10%;
    margin-left:10%;
    width:20%;
}

#login-left-image i{
    font-size: 200%;
    padding:10%;
    margin:10%;
}
#login-left-image p{
    font-size:70%;
}
.left-image-login div{
    position: relative;
    animation-name: ambulance;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes ambulance{
        0%{top:0px;}
        25%{top:10px;}
        50%{top:0px;}
        75%{top:10px;}
        100%{top:0px;}
}
#login-form{
    background:white;
    width:40%;
    height:500px;
    float:right;
    margin:2% 2% 2% 20%;
    text-align:left;
    border-radius:10%;
}
#login-content{
    margin: 15% 5% 5% 5%;
    text-align:center;
    display:flex;
}
.heading-center{
    margin:15% 10% 10% 10%;
    text-align:center;

}
.heading-center i{
    color:#5E3ED5;
}
.btn{
    background:#5E3ED5;
    color:white;
}
.btn:hover{
    background:#5E3ED5;
    color:white;
}
#login-form label{
    padding:5%;
   
}
#login-form input{
    width: 80%;
    margin:5%;
}

